.Cell {
  height: 100px;
  width: 100px;
  background-color: #263238;
  border-radius: 1px;
  transition: background-color 0.7s ease;
}

.Cell:hover{
  opacity: 0.8;
}

.Cell-lit {
  background-color: #00bcd4;
}

@media( max-width : 1000px) {
  .Cell{
    height:90px;
    width: 90px;
  }
}

@media( max-width : 600px) {
  .Cell{
    height:70px;
    width: 70px;
  }
}


@media (max-width:400px) and (max-height:900px){
  .Cell{
    height:55px;
    width: 55px;
  }
}
