.Cell {
  height: 80px;
  width: 80px;
  background-color: #263238;
  border-radius: 1px;
  transition: background-color 0.5s ease;
}

.Cell:hover{
  opacity: 0.8;
}

.Cell-lit {
  background-color: #00bcd4;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .Cell{
    height:70px;
    width: 70px;
  }
}


@media only screen and (max-width: 400px) {
  .Cell{
    height:45px;
    width: 45px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .Cell{
    height:85px;
    width: 85px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .Cell{
    height:80px;
    width:80px;
  }
}

@media only screen and (min-width: 1200px)  {
  .Cell{
    height:90px;
    width: 90px;
  }
}

@media only screen and (max-height: 700px)  {
  .Cell{
    height:70px;
    width: 70px;
  }
}

